.side-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-shrink: 0;
  padding: 55px 12px;
  margin: 0;
  border-right: 1px solid #E1E1E1;
}

.side-block__li {
  display: contents;
}

.side-block__item {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 8px;

  background-color: #E2E2EA;
  background-position: center;
  background-repeat: no-repeat
}

.side-block__item--something {
  background-image: url('../../public/Svg/something.svg');
}